src/main/mule/AirindiaUriParams.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:wsc="http://www.mulesoft.org/schema/mule/wsc"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/wsc http://www.mulesoft.org/schema/mule/wsc/current/mule-wsc.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="AirindiaUriParamsFlow" doc:id="32e5003b-d311-497a-ac69-2e6dd09b252c" >
		<ee:transform doc:name="Transform Message" doc:id="047bf4db-e7fe-4a36-a06e-7e543191e720" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
ns ns0 http://soap.training.mulesoft.com/
---
{
	ns0#getFlights: {
		from: attributes.uriParams.source as String,
		to: attributes.uriParams.destination as String,
		depatureDate: attributes.uriParams.doj as String
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="9f066a0a-810e-447b-abf5-42d61c221f07" message="request sent to airlines is.............#[payload]"/>
		<wsc:consume operation="getFlights" doc:name="Consume" doc:id="35270f17-b54a-4ab1-9778-de0517141e36" config-ref="Web_Service_Consumer_Config"/>
		<logger level="INFO" doc:name="Logger" doc:id="ba800855-fdcc-4f5d-8a05-e404172db1ec" message="Response from airindia is .............#[payload]"/>
		<ee:transform doc:name="Transform Message" doc:id="9e482362-8a33-42c9-872c-81b53ada5937" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
ns ns0 http://soap.training.mulesoft.com/
---
payload.body.ns0#getFlightsResponse.*return map ( return , indexOfReturn ) -> {
	Id: return.ID default 0,
	airlineName: return.airline default "",
	fCode: return.flightCode default "",
	fromAirportCode: return.fromAirportCode default "",
	toAirportCode: return.toAirportCode default "",
	departureDate: return.departureDate default "",
	emptySeats: return.emptySeats default 0,
	totalSeats: return.totalSeats as Number default 0,
	price: return.price default 0,
	planeType: return.planeType default ""
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="061564d5-1984-47fa-8ef7-57c0b8108b5f" message="final response is #[payload]"/>
	</flow>
</mule>
